.home-container {
    height: 100vh;
    background-color: #121212;
    margin: 0 4rem 0 4rem;
    color: white;
}

.movies-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    overflow: hidden;
    scroll-behavior: smooth;
}

.movie-poster {
    padding: 4rem 1rem 4rem 1rem;
    display: flex;
    flex-direction: column;
}

.movie-image {
    height: 16rem;
    width: 11rem;

    cursor: pointer;
}

.movie-name {
    width: 11rem;
    height: 3rem;

    padding-top: 0.5rem;
    text-align: center;
}

.forward-span {
    height: 3rem;
    width: 2.8rem;
    margin: 0;
    background-color: #4c4c4c4b;

    position: absolute;
    top: 40%;
    left: 95%;
    translate: -50% -40%;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.backward-span {
    height: 3rem;
    width: 2.8rem;
    margin: 0;
    background-color: #4c4c4c4b;

    position: absolute;
    top: 40%;
    left: 5%;
    translate: -50% -40%;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}