.navbar {
    padding: 1.5rem 5rem 1.5rem 3rem;
    background-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    height: 2.5rem;
    background-color: #ff0000;
    cursor: pointer;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.links:hover {
    transform: scale(1.05);
    background-color: #ff4747;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.links:active {
    transform: scale(1);
    box-shadow: 0 0 2px rgb(142, 8, 8);
}

.logo-img {
    height: 3rem;
    width: 12rem;
}

.logo-img:hover {
    transform: scale(1.1);
}