.navbar {
    padding: 1.5rem 2rem 1.5rem;
    /* background-color: #121212; */
}

.container {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: black;
}

.link {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: #ff0000;
    text-decoration: none;
    cursor: pointer;
    color: white;
    border-radius: 0.2rem;
}

.link:hover {
    transform: scale(0.5);
}